.confirm-modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.confirm-modal>div {
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
}

.confirm-modal>div>p {
    color: red;
}

.confirm-modal__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.confirm-modal__actions .btn-cancel {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
    cursor: pointer;
    background-color: white;
}

.confirm-modal__actions .btn-cancel:hover {
    background-color: lightgray;
}

.confirm-modal__actions .btn-delete {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: red;
    color: white;
    cursor: pointer;
}

.confirm-modal__actions .btn-delete:hover {
    background-color: darkred;
}
