.card-wrapper {
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 1px 2px gray;
    transition: all 0.2s ease-in-out;
    background: white;
}
.card-wrapper:hover {
    box-shadow: 0 4px 8px gray;
    border-color: blue;
    background: lightblue;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-info {
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 0.2rem;
}

.details-wrapper {
    max-width: 48rem;
    padding: 1rem;
}

.details-info {
    margin-bottom: 1.5rem;
    gap: 0.5rem;
}

.details-doctors-section {
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 1px 2px gray;
}

.details-doctors-section h2 {
    margin-bottom: 0.5rem;
}

.details-doctors-section input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

.clinic-form {
    max-width: 30rem;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
}

.clinic-form button {
    width: 10rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.clinic-form button.enabled {
    background-color: royalblue;
}

.clinic-form button.enabled:hover {
    background-color: mediumblue;
}

.clinic-form button.disabled {
    background-color: gray;
    cursor: not-allowed;
}
