.forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 6rem);
    background-color: whitesmoke;
    box-sizing: border-box;
    overflow: hidden;
}
