.wrapper {
    padding: 1rem;
}

.backBtn {
    display: inline-flex;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    color: blue;
    background: burlywood;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    cursor: pointer;
}

.backBtn:hover {
    background-color: lightblue;
    color: darkblue;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.header h1 {
    font-size: 2rem;
    margin: 0 auto 2rem auto;
}

.headerActions {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.editBtn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.editBtn:hover {
    background-color: darkblue;
    transform: scale(1.05);
}

.deleteBtn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: red;
    color: white;
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: darkred;
    transform: scale(1.05);
}
